@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .smooth {
    @apply transition-all ease-out duration-500 delay-500;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

::-webkit-scrollbar-thumb {
  width: 0.5px;
}
::-webkit-scrollbar-button {
  width: 1px;
}
/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 1px;

}

:hover::-webkit-scrollbar {
  width: 0px;
  transition: width 800ms ease-in-out, background 800ms ease-in-out;
}

.inter {
  font-family: "Inter", sans-serif;
}

.box-main:hover .box-child {
  opacity: 1;
}

.box-child {
  opacity: 0;
}

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3.5px;
}

.menuButton span {
  width: 1.5rem;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.menuButton.active span:nth-child(2) {
  opacity: 0;
}

.menuButton.active span:first-child {
  transform: translate3d(0, 6px, 0) rotate(45deg);
}

.menuButton.active span:last-child {
  transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.z-h {
  z-index: 99999999;
}

.z-xl {
  z-index: 999999999;
}
.z-xx{
  z-index: 99999999999999;
}

.z-sm {
  z-index: 10;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #60a5fa;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale {
  animation: scaleAnimation 6s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 5s; /* Delay the animation start by 8 seconds */
}


